# Fichiers de compilation Java.
*.class
*.jar

# Fichiers de compilation Gradle.
build
.gradle


# Fichiers d'Eclipse (ou IntelliJ Idea).
bin
.classpath
.project
.settings
.idea/

# Divers.
.DS_Store
